/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    /*===== Colours =====*/
    --light-main: #55887e;
    --dark-main: #1f3b37;
    --light-body: #e2eae8;
    --dark-body: #2c2c2c;
    --light-second: #FFFFFF;
    --dark-second: #1f1f1f;
    --light-text: #606060;
    --dark-text: #FFFFFF;
    --light-txt-hover: #099578;
    --dark-txt-hover: #099578;
    --light-box-hover: #eeeeee;
    --dark-box-hover: #1f191b;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-txt: var(--dark-text);
    --color-txt-hover: var(--dark-txt-hover);
    --color-box-hover: var(--dark-box-hover);
    --box-color: #2c2c2c;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);   
    --bg-second: var(--light-second);
    --color-txt: var(--light-text);
    --color-txt-hover: var(--light-txt-hover);
    --color-box-hover: var(--light-box-hover);
    --box-color: #fafafa;
}

/* ===== IONICONS ===== */
ion-icon{
    color: white;
    font-size: 5vh;
}

/* ===== GLOBAL ===== */
.preload * {

    /* Prevents any animations before site is done loading */
    transition: none !important;
}

body{
    --header-height: 50px;
    margin: var(--header-height) 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-body);
    color: var(--color-txt);
}

/*Removes selection border for inputs*/
textarea:focus, input:focus{
    outline: none;
}

/* =============== BASE CSS FOR HEADER AND NAV BAR =============== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--bg-main);
    display: flex;
    justify-content: space-between;
}

.header-button, a .header-button{
    width: var(--header-height);
    flex-shrink: 0;

    /* Removing default button styling */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header-button#logoNav{
    width: 25px;
    padding: 12px;
    box-sizing: initial;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.header-button#home-about{
    color: white;
    text-decoration: none;
    align-self: center;
    font-family: Poppins;
    padding-right: 48px;
    white-space: nowrap;
}

.header-button#home-about:hover{
    color: #88AA99;
}
/* =============== MAIN CSS FOR CONTENT =============== */
main{
    padding: 30px 10vh;
}

.main-container{
    background-color: var(--bg-second);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

.full{
    height: 78vh;
}

@media screen and (max-width: 1000px){
    main{
        padding: 30px 5vh;
    }
    .main-container{
        justify-content: center;
    }
}

.logo{
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
}

.logo-welcome-message{
    text-align: center;
    margin-bottom: 2.5%;
}
.main-header{
    text-align: center;
}
.sub-header{
    text-align: center;
    font-size: 1rem;
   /*  text-transform: uppercase;
        color: #46887E; */
}

button{
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 100%;
    width: 30%;
    margin: 0;
}

button.button-block, .button-block{
    background-color: #F5B129;
    color:#ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    display:block;
    cursor:pointer;
	padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 31.5%;
}

.button-block:hover {
	background-color:#DB960A;
}

.button-block:active {
	position:relative;
	top:1px;
}

input[type=text],[type=password]{
    border-radius: 25px;
    border: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-decoration:none;
    display:block;
    cursor:pointer;
    width: 30%;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.serial-number-form{
    display: flexbox;
    flex-direction: column;

}

#serial-number{
    font-weight: bold;
}

#email{
    letter-spacing: 0.1rem;
    text-align: left;
}

#password{
    letter-spacing: 0.1rem;
    text-align: left;
}

label{
    display: block;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 34%;
    padding-bottom: 5px;
}
