/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    /*===== Colours =====*/
    --light-main: #55887e;
    --dark-main: #1f3b37;
    --light-body: #e2eae8;
    --dark-body: #2c2c2c;
    --light-second: #FFFFFF;
    --dark-second: #1f1f1f;
    --light-text: #606060;
    --dark-text: #FFFFFF;
    --light-txt-hover: #099578;
    --dark-txt-hover: #099578;
    --light-box-hover: #eeeeee;
    --dark-box-hover: #1f191b;
    --font-size-h1-default: 32px;
    --font-size-h1-large: 38px;
    --font-size-secondary-default: 24px;
    --font-size-secondary-large: 30px;
    --font-size-p-default: 20px;
    --font-size-p-large: 24px;
}


.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-txt: var(--dark-text);
    --color-txt-hover: var(--dark-txt-hover);
    --color-box-hover: var(--dark-box-hover);
    --box-color: #2c2c2c;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);   
    --bg-second: var(--light-second);
    --color-txt: var(--light-text);
    --color-txt-hover: var(--light-txt-hover);
    --color-box-hover: var(--light-box-hover);
    --box-color: #fafafa;
}

.default-font-mode {
    --font-size-h1: var(--font-size-h1-default);
    --font-size-p: var(--font-size-p-default);
    --font-size-secondary: var(--font-size-secondary-default);
}

.large-font-mode {
    --font-size-h1: var(--font-size-h1-large);
    --font-size-p: var(--font-size-p-large);
    --font-size-secondary: var(--font-size-secondary-large);
}

/* ===== IONICONS ===== */
.header-button ion-icon{
    font-size: 35px;
    color: white;
}

.nav-link ion-icon {
    font-size: 20px;
}

/* =============== BASE CSS FOR HEADER AND NAV BAR =============== */
.preload * {
    /* Prevents any animations before site is done loading */
    transition: none !important;
    box-sizing: border-box;
}

body{
    --header-height: 50px;
    margin: var(--header-height) 0 0 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size--default);
    background: var(--bg-body);
    color: var(--color-txt);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--bg-main);
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 5px 5px #00000033);
    z-index: 1;
}

.header-button{
    width: var(--header-height);
    flex-shrink: 0;

    /* Removing default button styling */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header-button#logoNav{
    width: 30px;
    padding: 12px;
    box-sizing: initial;
}

.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: var(--bg-body);

    /* For layering the nav-overlay */
    z-index: 100; 

    /* To keep the menu hidden by default */
    transform: translateX(250px);

    /* Animation */
    transition: transform 0.3s;
}

.nav--open .nav-links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nav-link{
    display: flex;
    align-items: center;
    color: var(--color-txt);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 15px;

    /* Animation */
    background: transform 0.5s;
}

.nav-link > ion-icon {
    margin-right: 15px;
}

.nav-link--active, .nav-link:hover{
    color: var(--color-txt-hover);
    background-color: var(--color-box-hover);
}

.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    /* To be hidden by default */
    /* visibility HAS to be hidden otherwise nothing on the page is selectable */
    visibility: hidden;
    z-index: 99; 
    opacity: 0;

    /* Animation */
    transition: opacity 0.3s;
}

.nav--open .nav-overlay{
    visibility: visible;
    opacity: 1;
}

/* =============== MAIN CSS FOR CONTENT =============== */
main{
    padding: 3vh 10vh;
}

@media screen and (max-width: 768px){
    main{
        padding: 30px 5vh;
    }
}

@media screen and (max-width: 425px){
    main{
        padding: 30px 2vh;
    }
}

.main-container{
    background-color: var(--bg-second);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

h1{
    font-size: var(--font-size-h1);
}

section{
    padding-top: 50px;
    width: 100%;
    position: relative;
    flex-basis: 50%;
}

.section-1{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.section-1 > .left{
    width: 100%;
    flex-basis: 75%;
}

.section-1 > .right{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    gap: 20px;
    flex: 4;
}

.temp-box {
    padding: 30px; 
    border-radius: 25px;
    flex-direction: column;
    flex-basis: 50%;
    background-color: var(--box-color); 
    filter: drop-shadow(3px 3px 2px #00000010);

    /* Text Styling */
    color: var(--color-txt);
    font-family: 'Lato', sans-serif;;
    font-size: 1rem;
    font-weight: bold;
}

.temp-box span {
    font-family: Roboto, sans-serif;
    display: inline;
    font-size: var(--font-size-secondary);
    font-weight: bold;
}

.dark .temp-box span {
    display: inline;
    font-weight: lighter;
}

.chart {
    background-color: var(--light-second);
    border-radius: 15px;
}

#fingerTemp, #internalTemp{
    color: #339183;
    font-size: 3em;
    text-align: center;
    padding-top: 15px;
}

/* =============== FOOTER =============== */
/* footer {
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: var(--main-color); */