/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*===== VARIABLES CSS =====*/
/*===== VARIABLES CSS =====*/
:root{
    /*===== Colours =====*/
    --light-main: #55887e;
    --dark-main: #1f3b37;
    --light-body: #e2eae8;
    --dark-body: #2c2c2c;
    --light-second: #FFFFFF;
    --dark-second: #1f1f1f;
    --light-text: #606060;
    --dark-text: #FFFFFF;
    --light-txt-hover: #099578;
    --dark-txt-hover: #099578;
    --light-box-hover: #eeeeee;
    --dark-box-hover: #1f191b;
    --font-size-h1-default: 32px;
    --font-size-h1-large: 38px;
    --font-size-secondary-default: 24px;
    --font-size-secondary-large: 30px;
    --font-size-p-default: 20px;
    --font-size-p-large: 24px;
}


.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-txt: var(--dark-text);
    --color-txt-hover: var(--dark-txt-hover);
    --color-box-hover: var(--dark-box-hover);
    --box-color: #2c2c2c;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);   
    --bg-second: var(--light-second);
    --color-txt: var(--light-text);
    --color-txt-hover: var(--light-txt-hover);
    --color-box-hover: var(--light-box-hover);
    --box-color: #fafafa;
}

.default-font-mode {
    --font-size-h1: var(--font-size-h1-default);
    --font-size-p: var(--font-size-p-default);
    --font-size-secondary: var(--font-size-secondary-default);
}

.large-font-mode {
    --font-size-h1: var(--font-size-h1-large);
    --font-size-p: var(--font-size-p-large);
    --font-size-secondary: var(--font-size-secondary-large);
}

/* ===== IONICONS ===== */
.header-button ion-icon{
    font-size: 35px;
    color: white;
}

.nav-link ion-icon {
    font-size: 20px;
}

/* ===== GLOBAL ===== */
.preload * {

    /* Prevents any animations before site is done loading */
    transition: none !important;
}

body{
    --header-height: 50px;
    margin: var(--header-height) 0 0 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-body);
    color: var(--color-txt);
}

/*Removes selection border for inputs*/
textarea:focus, input:focus{
    outline: none;
}

/* =============== BASE CSS FOR HEADER AND NAV BAR =============== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--bg-main);
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 5px 5px #00000033);
    z-index: 1;
}

.header-button{
    width: var(--header-height);
    flex-shrink: 0;

    /* Removing default button styling */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header-button#logoNav{
    width: 30px;
    padding: 12px;
    box-sizing: initial;

}
.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: var(--bg-body);

    /* For layering the nav-overlay */
    z-index: 100; 

    /* To keep the menu hidden by default */
    transform: translateX(250px);

    /* Animation */
    transition: transform 0.3s;
}

.nav--open .nav-links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nav-link{
    display: flex;
    align-items: center;
    color: var(--color-txt);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 15px;

    /* Animation */
    background: transform 0.5s;
}

.nav-link > ion-icon {
    margin-right: 15px;
}

.nav-link--active, .nav-link:hover{
    color: var(--color-txt-hover);
    background-color: var(--color-box-hover);
}

.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    /* To be hidden by default */
    /* visibility HAS to be hidden otherwise nothing on the page is selectable */
    visibility: hidden;
    opacity: 0;

    /* Animation */
    transition: opacity 0.3s;
}

.nav--open .nav-overlay{
    visibility: visible;
    opacity: 1;
}
/* =============== MAIN CSS FOR CONTENT =============== */
/* Creation Section */
main{
    padding: 3vh 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

@media screen and (max-width: 1000px){
    main{
        padding: 30px 5vh;
    }
    .creation-pic{
        position: absolute;
        opacity: 0;
    }
}

.main-container{
    background-color: var(--bg-second);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

.shadow{
    box-shadow: 5px 6px 20px 4px rgba(0, 0, 0, 0.09);
}

h1{
    font-size: var(--font-size-h1);
    font-weight: bold;
    color: var(--color-txt);
}

/* ===== CREATION PAGE ===== */
.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2.5vh;
    padding: 2.5vh;
}

.creation-pic{
    width: 65vh;
    height: auto;
    z-index: 0;
}

form{
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.creation-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.block{
    display: flex;
    gap: 30px;
}

info-types{
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    text-align: right;
    color: var(--color-txt);
}

.input-box[type=text], .input-box[type=password], .input-box[type=date]{
    height: 50px;
    width: 300px;
    font-size: 20px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 75px; 
    padding: 0 20px;
}

p#serial-number{
    display: inline;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #444444;
    margin: 0;
}
/* Creation Button */
.button-create{
    background-color: #3D7068;
    color:#ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    display:block;
    cursor:pointer;
	padding: 20px 20px;
    margin-left: 130px;
    margin-right:0px;
    margin-top: 30px;
    outline: none;
    border: none;
}
.button-create:hover {
	background-color:#228777;
}

/* ===== ABOUT PAGE ===== */
/* About Buttons */
button.button-block, a.button-block{
    background-color: #F5B129;
    color:#ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-shadow:0px 1px 0px #000000;
	padding: 15px 15px;
    
    /* Removing default button and link styling */
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
}

.button-block:hover {
	background-color:#DB960A;
}

.button-block:active {
	position:relative;
	top: 1px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin: 30px 30vh;
    gap: 30px;
}

/* Team Section */
.team-members{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member{
    text-align: center;
    margin: 1% 5%;
}

.headshot{
    border-radius: 50%;
    width: 200px;
}

p.about-description, p.member-title{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-p);
}

.member-name, .member-title{
    margin: 0;
}
.member-name{
    font-weight: bold;
    font-size: var(--font-size-secondary);
    text-align: center;
}
.member-title{
    font-weight: normal;
    text-align: center;
}