<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Creation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-annie.css')}}"/>
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}">
</head>
<body class="preload light default-font-mode">

    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <!-- ===== CONTENT ===== -->
    <header class="header">
        <a href="{{url_for('index')}}" title="Returns you to welcome page"><img src="{{url_for('static', filename='images/LIMBlogo.svg')}}" class="header-button" id="logoNav" alt="LIMB logo"></a>
    </header>

    <main>
        <div class="main-container shadow full">
            <h1 class="pc-header">Create Your Profile</h1>
            <div class="content-container">
                <form action="#" method="POST">
                    <div class="creation-input">
                        <div class="block">
                            <info-types>Full Name</info-types>
                            <input name="fullname" class="input-box" id="fullname" type="text" placeholder="Enter your full name here" required>
                        </div>
                        <div class="block">
                            <info-types>City</info-types>
                            <input name="city" class="input-box" id="city" type="text" placeholder="Enter your location here" required>
                        </div>
                        <div class="block">
                            <info-types>Birthday</info-types>
                            <input name="birthday" class="input-box" id="birthday" type="date" placeholder="DD/MM/YYYY" required>
                        </div>
                        <div class="block">
                            <info-types>Email</info-types>
                            <input name="email" class="input-box" id="email" type="text" placeholder="Enter your email here" required>
                        </div>
                        <div class="block">
                            <info-types>Password</info-types>
                            <input name="password" class="input-box" id="password" type="password" placeholder="Enter your password here" required>
                        </div>
                        <div class="block">
                            <info-types>Serial Number</info-types>
                            <p id="serial-number">{{Serial_Number}}</p>
                        </div>
                    </div>
                    <button class="button-create" type="submit">CREATE ACCOUNT</button>
                </form>
                <img src="{{url_for('static', filename='images/undraw_sunny_day.svg')}}" class="creation-pic" alt="">
            </div>
        </div>
    </main>
    <footer style="display:flex; justify-content: center;"> Copyright &copy; 2021 kneeCAPs</footer>
</body>
</html>